:root {
    --color-pink: #ff9ad2;
    --color-gold: #ffd700;
    --color-turquoise: #17d8c3;
    --color-teal: #008080;
    --color-dark-green: #024e4e;
    --card-bg: rgba(10, 10, 30, 0.8);
    --font-main: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background-color: #111;
    color: white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

